div.calendartableview {
	width: 100%;
}
div.calendartableview div.calendar-navigation{
	position: relative;
}
div.calendartableview div.calendar-navigation table {
	width: 100%;
	border-collapse: separate;
	text-align: center;
	font-weight: bold;
	table-layout: fixed;
	cursor: pointer;
}
div.calendartableview div.calendar-navigation table.calendar-navigation-overlay{
	position: absolute;
}
table.calendar-navigation-overlay td {
	border: 1px solid transparent;
	width: 100%;
	height: 100%;
}
table.calendar-navigation-overlay td a {
	width: 100%;
	height: 100%;
}
table.calendar-navigation-overlay td.select {
	background-color: rgba(0, 0, 128, .05);
	border-top-color: black;
	border-bottom-color: black;
}
table.calendar-navigation-overlay td.select-left {
	border-left-color: black;
}
table.calendar-navigation-overlay td.select-right {
	border-right-color: black;
}
div.calendartableview div.tables table {
	width: 100%;
	table-layout: fixed;
	/* border: 1px dotted rgb(148, 150, 177); */
	text-align: center;
}

div.calendartableview table colgroup.month-even,
div.calendartableview table tr.month .month-even {
	background: rgb(233, 240, 248);
}

div.calendartableview table colgroup.month-even col.sat,
div.calendartableview table colgroup.month-even col.sun {
	background: rgb(219, 233, 243);
}

div.calendartableview table colgroup.month-odd,
div.calendartableview table tr.month .month-odd {
	background: rgb(248, 251, 254);
}

div.calendartableview table colgroup.month-odd col.sat,
div.calendartableview table colgroup.month-odd col.sun {
	background: rgb(231, 235, 240);
}

.isoweek span{
	border: 2px solid #536482;
	font-size: .7em;
	background-color: #536482;
	color: white;
}
div.calendartableview td,
div.calendartableview th {
	height: 1.7em;
}
div.calendartableview td.topic {
	background-color: rgb(255, 255, 255);
	border: 1px dotted #536482;
}
div.calendartableview tr:nth-child(odd) td.topic {
	background-color: rgb(247, 247, 247);
}
div.calendartableview tr td.topic.hover {
	background-color:rgb(240, 241, 246);
}
div.calendartableview tr td.topic-hilit {
	border: 2px solid rgb(25, 30, 79);
}
div.calendartableview tr td a {
	width: 100%;
}
div.calendartableview tr td.topic a {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
div.calendartableview col.today {
	border: 1px solid #444;
}
div.calendartableview th,
div.calendartableview td {
	color: #536482;
}
