div.calendartableview {
	width: 100%;
}
div.calendartableview table {
	width: 100%;
	table-layout: fixed;
	border-collapse: separate;
	border: 1px solid #444;
	text-align: center;
	border-spacing: 1px;
}
div.calendertableview table thead tr th,
div.calendertableview table tbody tr td {
	border: 1px solid #444;
	padding: 1px;
}

div.calendartableview table colgroup.month-even,
div.calendartableview table tr.month .month-even {
	background: rgb(218, 229, 238);
}

div.calendartableview table colgroup.month-even col.sat,
div.calendartableview table colgroup.month-even col.sun {
	background: rgb(202, 220, 235);
}

div.calendartableview table colgroup.month-odd,
div.calendartableview table tr.month .month-odd {
	background: rgb(177, 202, 223);
}

div.calendartableview table colgroup.month-odd col.sat,
div.calendartableview table colgroup.month-odd col.sun {
	background: rgb(159, 199, 231);
}

.isoweek span{
	border: 1px solid rgb(85, 95, 128);
	font-size: .7em;
}
