{%- include 'overall_header.html' -%}

<p>
	{{- CURRENT_TIME -}}
</p>

<h2>
	{{- lang('MARTTIPHPBB_CALENDARTABLEVIEW_CALENDAR') -}}
</h2>

<div class="calendartableview">

	{%- include '@marttiphpbb_calendartableview/include/navigation.html' -%}

	<br>

	<div class="tables">
	{%- for t in tables -%}
		<table>
			{%- for m in t.months -%}
				<colgroup class="{{- m.MONTH_CLASS }} month-{%- if m.MONTH is even %}even{% else %}odd{% endif %}">
					{%- if SHOW_TODAY -%}
						{%- for day in m.days -%}
							<col class="{{- day.WEEKDAY_CLASS -}}{%- if day.JD == TODAY_JD %} today{% endif -%}">
						{%- endfor -%}
					{%- else -%}
						{%- for day in m.days -%}
							<col class="{{- day.WEEKDAY_CLASS -}}">
						{%- endfor -%}
					{%- endif -%}
				</colgroup>
			{%- endfor -%}

			{%- if t.header_rows -%}
				<thead>
					{%- for h in t.header_rows -%}

						{%- embed '@marttiphpbb_calendartableview/include/header_row.html' -%}
						{%- endembed -%}

					{%- endfor -%}
				</thead>
			{%- endif -%}

			{%- for tb in t.tbodies -%}
				<tbody>
				{%- for r in tb.rows -%}
					<tr>
					{%- for c in r.cells -%}
						{%- if c.ROWSPAN -%}
							<td{%- if c.ROWSPAN > 1 %} rowspan="{{- c.ROWSPAN -}}"{%- endif -%}>
								&nbsp;
							</td>
						{%- elseif c.TOPIC_ID -%}
							<td class="topic forum-{{ c.FORUM_ID -}}{% if TOPIC_HILIT == c.TOPIC_ID %} topic-hilit{%- endif -%}" data-topic="{{- c.TOPIC_ID -}}" data-forum="{{- c.FORUM_ID -}}"{%- if c.COLSPAN > 1 %} colspan="{{- c.COLSPAN -}}"{%- endif -%}>
								<a href="{{- c.TOPIC_LINK -}}" title="{{- c.TOPIC_TITLE -}}">
									{{- c.TOPIC_TITLE -}}
								</a>
							</td>
						{%- endif -%}
					{%- endfor -%}
					</tr>
				{%- endfor -%}
				</tbody>

				{%- if t.repeated_header_rows and not loop.last -%}
					<tbody class="repeated-header">
						{%- for h in t.repeated_header_rows -%}
							{%- embed '@marttiphpbb_calendartableview/include/header_row.html' -%}
								{%- block cell_tag -%}
									td
								{% endblock -%}
							{%- endembed -%}
						{%- endfor -%}
					</tbody>
				{%- endif -%}

			{%- endfor -%}

			{%- if t.footer_rows -%}
				<tfoot>
					{%- for h in t.footer_rows -%}
						{%- embed '@marttiphpbb_calendartableview/include/header_row.html' -%}
						{%- endembed -%}
					{%- endfor -%}
				</tfoot>
			{%- endif -%}

		</table>

		{%- if not loop.last -%}
			<br>
		{%- endif -%}
	{%- endfor -%}

	</div>

	<br>

	{%- include '@marttiphpbb_calendartableview/include/navigation.html' -%}

</div>

{%- include 'jumpbox.html' -%}
{%- include 'overall_footer.html' -%}

{%- if LOAD_STYLESHEET -%}
	{%- INCLUDECSS '@marttiphpbb_calendartableview/calendar.css' -%}
{%- endif -%}

{%- if EXTRA_STYLESHEET -%}
	{%- INCLUDECSS EXTRA_STYLESHEET -%}
{%- endif -%}

{%- INCLUDEJS '@marttiphpbb_calendartableview/js/calendar.js' -%}
