div.info-container {
  display: flex;
}
div.info-box {
  flex: 1;
  cursor: pointer;
}
.info-active {
    background-color: rgb(224, 255, 233);
    color: green;
}
.info-inactive {
    background-color: rgb(255, 224, 224);
    color: red;
}
.info-inactive span.li-mergeable,
.info-active ul li:first-child span.li-mergeable,
.info-active ul li[data-blocks-merge] + li span.li-mergeable{
  display: none;
}